/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

/* Body */
body {
    background-color: #ffffff; 
    color: #333;
}

header {
    background: #d0bdf4; 
    padding: 20px;
    color: #333;
    border-bottom: 2px solid #8458B3; 
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    max-width: 150px;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 20px; 
}

.nav-links a {
    color: #333;
    text-decoration: none;
    transition: color 0.3s;
    font-weight: 700;
}

.nav-links a:hover {
    color: #8458B3; 
}

/* Landing Section */
.landing {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90vh;
    padding: 0 10%;
    background: #ffffff;
    border-bottom: 2px solid #372754; 
}

.landing-content {
    max-width: 50%;
}

.landing-content h1 {
    color: #6520af; /* Purple Pain */
    margin-bottom: 20px;
    font-size: 3.5em;
}

.landing-content p {
    margin-bottom: 40px;
    font-size: 1.2em;
    line-height: 1.5;
}

.cta-button {
    background: #7c54c7; 
    color: #fff;
    padding: 15px 40px;
    text-decoration: none;
    border-radius: 50px;
    font-size: 1.2em;
    transition: background 0.3s, transform 0.2s;
}

.cta-button:hover {
    background: #8458B3; 
    transform: scale(1.05);
}

.landing-image img {
    max-width: 100%;
    max-height: 70vh;
    border-radius: 10px;
}

/* Tools Section */
.tools-section {
    padding: 50px 20px;
    background: linear-gradient(135deg, #d0bdf4, #8458b3); 
    color: #ffffff;
}

.tool-container {
    display: flex;
    justify-content: center;
    gap: 30px; 
    flex-wrap: wrap;
}

.tool-option {
    background: #ffffff;
    color: #0c0101;
    padding: 20px;
    border-radius: 10px;
    width: 320px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background 0.3s, transform 0.2s;
    text-align: center;
    position: relative;
    margin-bottom: 30px; 
}

.tool-option img {
    width: 120px; 
    height: 120px; 
    object-fit: cover;
    margin-bottom: 10px;
    border-radius: 50%;
}

.tool-option h3 {
    margin: 10px 0;
    color: #8458B3; 
}

.tool-option p {
    margin-bottom: 20px;
}


/* About Section */
.about-section {
    background-color: #ffffff; 
    color: #120101;
    padding: 50px 20px;
    text-align: center;
    border-top: 2px solid #d0bdf4; 
    border-bottom: 2px solid #d0bdf4; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.about-container {
    max-width: 800px;
    margin: 0 auto;
}

.about-text h2 {
    font-size: 2.5em;
    color: #8458B3; /* Purple Pain */
    margin-bottom: 20px;
}

.about-text p {
    font-size: 1.2em;
    line-height: 1.6;
}

/* Contact Section */
.contact-section {
    background: #ffffff;
    color: #333;
    padding: 50px 20px;
    text-align: center;
}

.contact-section h2 {
    margin-bottom: 20px;
    font-size: 2.5em;
    color: #8458B3; 
}

.contact-section form {
    max-width: 600px;
    margin: 0 auto;
    text-align: left;
}

.contact-section input,
.contact-section textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.contact-section button {
    background: #d0bdf4; 
    color: #fff;
    padding: 15px 40px;
    border: none;
    border-radius: 50px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background 0.3s, transform 0.2s;
}

.contact-section button:hover {
    background: #8458B3; 
    transform: scale(1.05);
}

/* Footer */
footer {
    background: #ffffff;
    color: #333;
    padding: 20px;
    text-align: center;
    border-top: 2px solid #d0bdf4; 
}
